.articleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
}
article {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 1rem;
}
img {
    width: 100%;
    padding: 1rem;
}
.authorBar {
    margin: auto;
    align-items: center;
    display: flex;
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
}
.authorDate {
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.likes {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.likeBtn {
    width: 55px;
    display: flex;
    justify-content: right;
}
.likeBtn:hover {
    transform: scale(1.3);
}