header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 130px;
    background-color:#dda036;
}
.main {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

    
