header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 130px;
}
.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

    
