@media screen and (max-width: 700px) {
    .main {
        width: 250px;
        text-align: center;
    }
    .title {
        width: 600px;
    }
    .info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    article {
        margin: auto;
        margin-bottom: 10px;
        width: 450px;
        justify-content: center;
        
    }
    .authorBar {
        font-size: 12px;
    }
}
@media screen and (min-width: 700px) {
    
} 
@media screen and (min-width: 1300px) {

}




@media (prefers-color-scheme: light) {
    :root {
        
        --bg: rgb(248, 246, 240);
        --color: black;
        --articlebg: rgb(233, 230, 223);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #161616;
        --color: white;
        --articlebg:#202020;
    }
}
body {
    background: var(--bg);
}
article {
    color: var(--color);
    background: var(--articlebg);
}
