@media screen and (max-width: 411px) {
    header {
        width: 320px;
    }
    .main {
        width: 25%;
    }
    .mainPage {   
        font-size: 0.4rem;
    }
    .title {
        width: 55%;
        display: flex;
        justify-content: center;
    }
    .pageTitle {
        font-size: 2rem;
    }
    .info {
        width: 20%;
        font-size: 0.8rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .articleContainer article {
        width: 300px;
        padding: 0px;
    }
    .content {
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 700px) {
    .main .mainPage {
        width: 100px;
        text-align: center;
        font-size: 1.5rem;
    }

    .title .pageTitle {
        width: 200px;
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }
 
    .info {
        width: 100px;
        font-size: 0.8rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    article {
        margin: auto;
        margin-bottom: 10px;
        width: 400px;
        justify-content: center;
    }
    .authorBar {
        font-size: 11px;
        align-items: center;
    }
    .likeBtn {
        width: 47px;
    }
    
}
@media screen and (min-width: 700px) {

    .main {
        width: 600px;
        text-align: center;
    }
    .title {
        width: 1000px;
    }
    .info {
        width: 600px;
    }
    article {
        margin: auto;
        margin-bottom: 10px;
        width: 700px;
        justify-content: center;
    }
} 
@media screen and (min-width: 1000px) {
    .main {
        width: 500px;
        justify-content: flex-start;
        margin: 50px;
    }
    .title {
        width: 1100px;
    }
    .info {
        width: 800px;
    }
}
@media screen and (min-width: 1400px) {
    .main {
        width: 650px;
        justify-content: flex-start;
        margin: 50px;
    }
    .title {
        width: 1500px;
    }
    .info {
        width: 800px;
    }
}


@media (prefers-color-scheme: light) {
    :root {
        
        --bg: rgb(248, 246, 240);
        --color: black;
        --articlebg: rgb(233, 230, 223);
        --headerbg: #dda036;
        --headercolor: #d3521c;
        --barbg: rgb(240, 236, 229);
        --barshadow: 1px 1px 3px rgb(182, 182, 182);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #161616;
        --color: white;
        --articlebg:#202020;
        --headerbg: #2a4734;
        --headercolor: #9bd1a9;
        --barbg: #1f1e1e;
        --barshadow: 1px 1px 3px rgb(10, 10, 10);
    }
}

body {
    background: var(--bg);
}
header {
    background-color: var(--headerbg);
    color: var(--headercolor);
}
a {
    color: var(--headercolor);
}
article {
    color: var(--color);
    background: var(--articlebg);
}
.authorBar {
    background-color: var(--barbg);
    box-shadow: var(--barshadow);
}