.mainPage {
    font-size: 50px;
    padding: 10px;
    font-family: 'light';
    color:#e0e0cf;

}

h1 {
    font-size: 50px;
    padding: 10px;
    font-family: 'light';
    color:#e0e0cf;
    display: flex;


    
}
h2 {
    font-family: 'extraLight';
    padding: 15px;
}
p {
    font-family: 'thin';
    padding: 10px;
}
h3 {
    font-family: 'thin';
    padding: 10px;
    font-size: 10px;
    color: white;
}
article {
    color: white;
    padding: 20px;
}

@font-face {
    font-family: 'light';
    src: url(fonts/Raleway-Light.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'extraLight';
    src: url(fonts/Raleway-ExtraLight.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'thin';
    src: url(fonts/Raleway-Thin.ttf);
    font-style: normal;
    font-weight: 100;
}