.mainPage {
    font-size: 2.2rem;
    color: #d3521c;
    font-family: 'mainPage';
    padding: 5px;
}
.pageTitle {
    font-size: 3.2rem;
    color: #d3521c;
    font-family: 'pageTitle';
    padding: 10px;
}
a {
    color: #d3521c;
    text-decoration: none;
}
.articleTitle {
    font-size: 1.5rem;
    font-family: 'articleTitle';
    padding: 1rem;
}
article {
    font-size: 1rem;
    font-family: 'articleText';
    padding: 2rem;
}
p {
    padding: 1rem;
}

@font-face {
    font-family: 'mainPage';
    src: url("/fonts/RacingSansOne-Regular.ttf");
    font-style: normal;
    font-weight: 100;

}
@font-face {
    font-family: 'articleTitle';
    src: url("/fonts/Nunito-ExtraLight.ttf");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'articleText';
    src: url("/fonts/Nunito-Light.ttf");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'pageTitle';
    src: url("/fonts/BarlowCondensed-Regular.ttf");
    font-style: normal;
    font-weight: 100;
}