.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin-top: 70px;
}
.flex-items {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(34, 34, 34);
    margin-bottom: 20px;

}
img {
    width: 100%;
}